# Virtual environment
venv/
.venv/
env/

data/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Output data
data/output/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
